%table.table.table-bordered.table-striped
  %tbody
    - @all_entries.each do |entry|
      %tr.feedback-box
        %td.feedback-image
          - if entry.service_name == "Deshiel"
            = image_tag "deshiel.jpeg"
          - elsif entry.service_name == "My-Dictionary"
            = image_tag "search.jpeg"
          - else
            = image_tag "lift.jpeg"
        %td.feedback-desc
          %h5= link_to entry.service_name, service_path(entry.service_id)
          %p
            = entry.content
          .feedback-user
            = entry.user_name
            = feedback_time(entry.created_at)
