- if user_signed_in?
  %table.table.table-bordered
    %thead
      %tr
        %th{:colspan => 4}
          = t('views.services.recommend')
    %tbody
      %tr
        - @hot_services.each_with_index do |service, i|
          %td.hot-image
            - if i == 0
              = image_tag "deshiel.jpeg"
            - elsif i == 1
              = image_tag "search.jpeg"
          %td.hot-desc
            %h5
              = link_to service.name, service_path(service)
            = service.summary
            %br
            = t('views.services.developer')
            ：
            = service.users.map{|user| user.name}.join(",")
%table.table.table-bordered
  %thead
    %tr
      %th{:colspan => 4}
        = t('views.services.by_category')
        （
        = t("views.services.category.#{params[:category]}")
        ）
        = link_to t('views.services.all_category'), services_path
  %tbody
    - @category_services.each do |service_arr|
      %tr
        - service_arr.each do |service|
          %td.table-divided
            = image_tag "education.jpeg"
            = link_to service.name, service_path(service.id)
