.row-fluid
  - if params[:category]
    = render "category_services"
  - else
    - if user_signed_in?
      %table.table.table-bordered
        %thead
          %tr
            %th{:colspan => 4}
              = t('views.services.recommend')
        %tbody
          %tr
            - @hot_services.each_with_index do |service, i|
              %td.hot-image
                - if i == 0
                  = image_tag "deshiel.jpeg"
                - elsif i == 1
                  = image_tag "search.jpeg"
              %td.hot-desc
                %h5
                  = link_to service.name, service_path(service)
                = service.summary
                %br
                = t('views.services.developer')
                ：
                = service.users.map{|user| user.name}.join(",")
    - else
      .hero-unit
        %h2 New services! New experiences!
        %p
          まだ世の中に広まっていないサービスを通じて、未知の体験ができるプラットフォームです。
        = link_to t('views.commons.sign_in'), new_user_session_path(:params => {:lang => params[:lang]}), :class => "btn btn-primary"
    %table.table.table-bordered
      %thead
        %tr
          %th{:colspan => 4}
            = t('views.services.by_category')
      %tbody
        %tr
          %td.table-divided
            = image_tag "education.jpeg"
            = link_to t('views.services.category.education'), services_path(:category => "education")
          %td.table-divided
            = image_tag "life.jpeg"
            = link_to t('views.services.category.life'), services_path(:category => "life")
          %td.table-divided
            = image_tag "game.jpeg"
            = link_to t('views.services.category.game'), services_path(:category => "game")
          %td.table-divided
            = image_tag "business.jpeg"
            = link_to t('views.services.category.business'), services_path(:category => "business")
        %tr
          %td.table-divided
            = image_tag "music.jpeg"
            = link_to t('views.services.category.music'), services_path(:category => "music")
          %td.table-divided
            = image_tag "weather.jpeg"
            = link_to t('views.services.category.weather'), services_path(:category => "weather")
          %td.table-divided
            = image_tag "travel.jpeg"
            = link_to t('views.services.category.traveling'), services_path(:category => "traveling")
          %td.table-divided
            = image_tag "efficient.jpeg"
            = link_to t('views.services.category.work_efficiency'), services_path(:category => "work_efficiency")
        %tr
          %td.table-divided
            = image_tag "finance.jpeg"
            = link_to t('views.services.category.finance'), services_path(:category => "finance")
