.row-fluid
  .span8
    - if params[:category]
      = render "category_services"
    - else
      - if user_signed_in?
        %table.table.table-bordered
          %thead
            %tr
              %th{:colspan => 4}
                - if current_user
                  = "#{current_user.name}さんへのおすすめサービス"
          %tbody
            %tr
              - @hot_services.each_with_index do |service, i|
                %td.hot-image
                  - if i == 0
                    = image_tag "deshiel.jpeg"
                  - elsif i == 1
                    = image_tag "search.jpeg"
                %td.hot-desc
                  %h5
                    = link_to service.name, service_path(service)
                  = service.summary
                  %br
                  作成者：
                  = service.users.map{|user| user.name}.join(",")
      %table.table.table-bordered
        %thead
          %tr
            %th{:colspan => 4}
              カテゴリ別
        %tbody
          %tr
            %td.table-divided
              = image_tag "education.jpeg"
              = link_to "教育", services_path(:category => "education")
            %td.table-divided
              = image_tag "life.jpeg"
              = link_to "生活", services_path(:category => "life")
            %td.table-divided
              = image_tag "game.jpeg"
              = link_to "ゲーム", services_path(:category => "game")
            %td.table-divided
              = image_tag "business.jpeg"
              = link_to "ビジネス", services_path(:category => "business")
          %tr
            %td.table-divided
              = image_tag "music.jpeg"
              = link_to "ミュージック", services_path(:category => "music")
            %td.table-divided
              = image_tag "weather.jpeg"
              = link_to "天気", services_path(:category => "weather")
            %td.table-divided
              = image_tag "travel.jpeg"
              = link_to "旅行", services_path(:category => "travel")
            %td.table-divided
              = image_tag "efficient.jpeg"
              = link_to "仕事効率化", services_path(:category => "efficient")
          %tr
            %td.table-divided
              = image_tag "finance.jpeg"
              = link_to "ファイナンス", services_path(:category => "finance")
  .span4
    #all_entry_chat
      = render "all_entry_chat"

= subscribe_to "/entries/new"