.page-header
  %h2= @service.name
.row-fluid
  .span3
    .well
      %p
        %h5 サービス提供者情報
        - @make_users.each do |make_user|
          = make_user.name
      %br
      %br
      %p
        #entry_chat
          = render "entry_chat"
        = form_for @entry, :remote => true do |f|
          = f.text_area :content, :class => "chat-box"
          = f.hidden_field :service_id, :value => @service.id
          = f.submit "書き込む", :class => "btn"
  .span9
    = form_tag service_path(@service), :method => "get" do
      = hidden_field_tag :url, @service.url
      = submit_tag "利用する", :class => "btn"
    %p.main-frame
      - if @iframe_url
        %iframe{:height => 1000, :width => "100%", :src => @iframe_url}
      - else
        サマリー
        = @service.summary
        %br
        紹介文
        = @service.introduction
