.page-header
  - if @service.name == "Deshiel"
    = image_tag "deshiel.jpeg"
  - elsif @service.name == "My-Dictionary"
    = image_tag "search.jpeg"
  - else
    = image_tag "lift.jpeg"
  %h2= @service.name
  .service-link
    = link_to t('views.services.detail.experience'), @service.url, :class => "btn btn-primary", :target => "_blank"

%p
  = link_to "<< #{t('views.commons.back')}", :back, :class => "btn"
.main-frame
  %h5= t('views.services.detail.summary')
  = @service.summary
  %h5= t('views.services.detail.introduction')
  = @service.introduction
  %h5= t('views.services.developer')
  - @make_users.each do |make_user|
    = make_user.name
