= form_for ["make", @service], :html => { :class => "form-horizontal" } do |f|
  .control-group
    = f.label :name, t('views.services.detail.name'), :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :url, "URL", :class => "control-label"
    .controls
      = f.text_field :url
  .control-group
    = f.label :summary, t('views.services.detail.summary'), :class => "control-label"
    .controls
      = f.text_field :summary
  .control-group
    = f.label :introduction, t('views.services.detail.introduction'), :class => "control-label"
    .controls
      = f.text_field :introduction
  .control-group
    = f.label :category, t('views.services.detail.category'), :class => "control-label"
    .controls
      = f.select :category, Service::CATEGORY_LIST
  .control-group
    .controls
      = f.submit t('helpers.submit.create'), :class => "btn btn-primary"
