.page-header
  %h2 開発中のサービス一覧
%p
  = link_to "<< ホームに戻る", services_path, :class => "btn"

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th #
      %th サービス名
      %th URL
      %th

  %tbody
    - @services.each_with_index do |service, i|
      %tr
        %td= i + 1
        %td= service.name
        %td= service.url
        %td
          = link_to "詳細", make_service_path(service.id)
          |
          = link_to "編集", edit_make_service_path(service.id)

= link_to "サービス新規登録", new_make_service_path, :class => "btn"
