.page-header
  %h2 開発中のサービス一覧

- if flash[:notice]
  = flash[:notice]

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th #
      %th サービス名
      %th URL
      %th

  %tbody
    - @services.each_with_index do |service, i|
      %tr
        %td= i + 1
        %td= service.name
        %td= service.url
        %td
          = link_to "フィードバックの確認", make_service_path(service.id)
          |
          = link_to "登録情報の変更", edit_make_service_path(service.id)

= link_to "サービスの新規追加", new_make_service_path, :class => "btn"
