.page-header
  %h2= t('views.services.list')

- if flash[:notice]
  = flash[:notice]

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th #
      %th= t('views.services.detail.name')
      %th URL
      %th

  %tbody
    - @services.each_with_index do |service, i|
      %tr
        %td= i + 1
        %td= service.name
        %td= service.url
        %td
          = link_to "フィードバックの確認・承認", make_service_path(service.id)
          |
          = link_to t('views.services.edit.title'), edit_make_service_path(service.id)

= link_to t('views.services.new.title'), new_make_service_path, :class => "btn"
