%h1 サービス詳細
= link_to "開発中のサービス一覧に戻る", make_services_path

%table
  %tr
    %th サービス名
    %td= @service.name
  %tr
    %th URL
    %td= @service.url
  %tr
    %th サマリー
    %td= @service.summary
  %tr
    %th 紹介文
    %td= @service.introduction
  %tr
    %th カテゴリー
    %td= @service.category
