.page-header
  %h2 サービス詳細
%p
  = link_to "<< 開発中のサービス一覧に戻る", make_services_path, :class => "btn"

%table.table.table-bordered
  %thead
    %tr
      %th 項目
      %th 内容
  %tbody  
    %tr
      %td サービス名
      %td= @service.name
    %tr
      %td URL
      %td= @service.url
    %tr
      %td サマリー
      %td= @service.summary
    %tr
      %td 紹介文
      %td= @service.introduction
    %tr
      %td カテゴリー
      %td= @service.category
    %tr
      %td Consumer key
      %td= @service.key
    %tr
      %td Consumer secret key
      %td= @service.secret
