.page-header
  %h2= t('views.entries.title')

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t('views.services.detail.name')
      %th= t('views.entries.content')
      %th 承認状況
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.service.name
        %td= entry.content
        %td= entry.approval_status
