!!!
%html

  %head
    %title
      Rippler
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.home-body
    .navbar.navbar-top.home-header
      .container
        = link_to "Rippler", root_path, :class => "brand"
        .pull-right
          %ul.nav
            %li.dropdown
              = link_to view_select_language, "#", { :class => "dropdown-toggle", "data-toggle" => "dropdown" }
              %ul{ :class => "dropdown-menu", :role => "menu", "aria-labelledby" => "dLabel" }
                %li
                  - ["ja", "en"].each do |lang|
                    = link_to t("views.commons.#{lang}"), request.path + "?lang=#{lang}"
    .home-introduction
      .container
        = link_to t('views.commons.sign_in'), "#myModal", :class => "btn btn-primary", "data-toggle" => "modal"
        %div{ :id => "myModal", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", :style => "display: none;" }
          .modal-header
            %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" }
              ×
          .modal-body
            = render :template => "users/sessions/new"
    .home-services
      .container
        %ul
          - @hot_services.each do |service|
            %li
              = image_tag "education.jpeg"
              = link_to service.name, service_path(service.id)
    .home-footer
