.page-header
  %h2= t('views.my_page.title')

.row
  .span6
    .mypage-layout
      %h3= t('views.my_page.users.name')
      = link_to t('views.my_page.users.action'), services_path, :class => "btn btn-primary"
      = link_to t('views.entries.title'), entries_path, :class => "btn"
  .span6
    .mypage-layout
      %h3= t('views.my_page.developers.name')
      = link_to t('views.my_page.developers.action'), make_services_path, :class => "btn btn-primary"
